.con1
{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid black;
    padding: 20px;
    border-radius: 5px;
    margin-left: 80px;
    margin-right: 80px;
    background-color: aqua;
}
.image
{
    padding-right: 200px;
}
.img
{
    width:250px;
    height: 250px;
}
.download
{
    border: 1px solid red;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 5px;
    background-color: aliceblue;
}
.hire
{
    border: 1px solid blue;
    text-align: center;
    padding-top: 5px;
    background-color: aliceblue;
}
.logo1
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 10px;
    padding-right: 180px;
}
.zi2
{
    padding-right: 25px;
}
.am
{
    margin-left: 90px;
}
.ps
{
    margin-left: 90px;
    padding-top: 20px;
}
.bbb
{
    padding-bottom: 80px;
    padding-top: 80px;
}